@font-face {
  font-family: 'ciup';
  src:  url('../media/ciup.eot?n5g8vs');
  src:  url('../media/ciup.eot?n5g8vs#iefix') format('embedded-opentype'),
    url('../media/ciup.ttf?n5g8vs') format('truetype'),
    url('../media/ciup.woff?n5g8vs') format('woff'),
    url('../media/ciup.svg?n5g8vs#ciup') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-ciup-"], [class*=" icon-ciup-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ciup' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ciup-shortcode:before {
  content: "\e900";
  color: #70c1aa;
}
