/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.modal-ciup-button {
    display: inline-flex !important;
    align-items: center;
}

.modal-ciup-button i {
    font-size: 18px;
    margin-right: 5px;
}

 /* The Modal (background) */
.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;x
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal.active {
    display: flex;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.modal-ciup-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-ciup-close:hover,
.modal-ciup-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-form {
    display: flex;
    flex-wrap: wrap;
}

.modal-form-line {
    width: 100%;
    margin-bottom: 20px;
}

.modal-form-line-label {
    margin-bottom: 3px;
    font-weight: bold;
}

.modal-form-line-input {
    margin-left: 3px;
}

.ciup-result-title {
    font-size: 20px;
}

.shortcode-result {
    background-color: #23282d;
    color: #eeeeee;
    padding: 20px;
}

.ciup-backoffice-wrap h1 {
    text-align: center;
}

.ciup-backoffice-explanation-step {
    padding: 0 20px;
}

.collapsible-button {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  color: #000000;
  font-weight: bold;
}

.collapsible-button:hover {
  background-color: #ccc;
}

.collapsible-content {
  padding: 20px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible-content.active {
  display: block;
}

.ciup-backoffice-list {
    display: flex;
    flex-wrap: wrap;
}

.ciup-backoffice-list-item {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 20%;
    font-weight: bold;
    color: #ffffff;
    background-color: #ff876b;
    border-radius: 25px;
    margin-right: 30px; 
    padding: 10px 5px;
}
